
.slider {
  position: relative;
  width: 650px;
  height:500px;
  margin: 100px auto;
}
.slides img {
margin-left: 89px;
  width: 500px;
  height: 700px;
  display: none;
}
.slides .active {
  display: block;
}
.arrow {
  position: absolute;
  top: 50%;
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
margin-left: 30px;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}
.dots {
  text-align: center;
  margin-top: 10px;
}
.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #555;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.dot.active {
  background: #1e90ff;
}